<link rel="stylesheet" type="text/css" href="css/holy.css">

<header>my header</header>
<body>

        <div class="wrap">
            <div class="nav">
                <dl>
                    <dt>hehh</dt>
                    <dt>hehh</dt>
                    <dt>hehh</dt>
                    <dt>hehh</dt>
                    <dt>hehh</dt>
                </dl>
            </div>
            <div class="content">CSS是Cascading Style Sheet的缩写。译作”层叠样式表单“类人群，有较强的易读性 写法，针对各类人群，有较强的易读性
            </div>
            <div class="sidebar">
                <dl>
                    <dt>hehh</dt>
                    <dt>hehh</dt>
                    <dt>hehh</dt>
                    <dt>hehh</dt>
                    <dt>hehh</dt>
                </dl>
            </div>
        </div>
        <div class="footer">
            Copyright © Enlighten Designs Powered by <a href="http://www.enlightenhosting.com/">Enlighten Hosting</a> and
            <a href="http://www.vadmin.co.nz/">Vadmin 3.0 CMS</a>
        </div>
</body>
